* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    border-radius: 0px;
    font-family: "FiraCode Nerd Font Propo SemBd", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(46, 52, 64, 0.9);
    border-bottom: 0px solid rgba(76, 86, 106, 1);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #81a1c1;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #4c566a;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    color: #81a1c1;
/*    background-color: #4c566a; */
/*    box-shadow: inset 0 -2px #81a1c1; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 5px;
    margin: 0px 0px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
/*    background-color: #8FBCBB; */
    color: #8FBCBB;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #A3BE8C;
/*    background-color: #A3BE8C; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #BF616A;
    color: #000000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
/*    background-color: #A3BE8C; */
    color: #A3BE8C;
}

#memory {
/*    background-color: #B48EAD; */
    color: #B48EAD;
}

#disk {
    background-color: #964B00;
}

#backlight {
/*    background-color: #EBCB8B; */
    color: #EBCB8B;
}

#network {
/*    background-color: #8FBCBB; */
    color: #8FBCBB;
}

#network.disconnected {
    background-color: #BF616A;
}

#pulseaudio {
/*    background-color: #EBCB8B; */
    color: #EBCB8B;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
/*    background-color: #D08770; */
    color: #D08770;
}

#temperature.critical {
/*    background-color: #BF616A; */
    color: #BF616A;
}

#tray {
/*    background-color: #5E81AC; */
    color: #5E81AC;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
/*    background-color: #BF616A; */
    color: #BF616A;
}

#idle_inhibitor.activated {
/*    background-color: #A3BE8C; */
    color: #A3BE8C;
}

#mpd {
/*    background-color: #66cc99; */
    color: #a3be8c;
}

#mpd.disconnected {
/*    background-color: #f53c3c; */
    color: #bf616a;
}

#mpd.stopped {
/*    background-color: #90b1b1; */
    color: #bf616a;
}

#mpd.paused {
    background-color: #d08770;
}

#language {
/*    background: #88C0D0; */
    color: #88C0D0;
    padding: 0 5px;
    margin: 0px 0px;
    min-width: 16px;
}

#keyboard-state {
/*    background: #4C566A; */
    color: #4C566A;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
